<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-dark">
        О компании
      </h1>
    </div>
  </div>
  <div style="padding-top: 100px;" class="row">
    <div class="col-4">
      <h4>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis dolores velit deleniti laboriosam consectetur perspiciatis dolorem maxime sequi veritatis eaque ipsam repudiandae voluptate, nisi maiores consequuntur enim cumque quis! Eaque ratione debitis soluta? Voluptatum, nesciunt velit commodi pariatur soluta, error beatae nobis sed optio earum laboriosam qui dolorem dicta rerum!
      </h4>
    </div>
    <div class="text-center col-8">
      <img src="assets/resources/about-us/porf.PNG" alt="">
    </div>
  </div>
</div>